*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: fixed;
    width: 100vw;
    height: 75px;
    background-color: rgb(255, 255, 255);
    /* justify-items: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 70px;

        img{
            width: 55px;
            height: 55px;
            /* margin-top: 10px; */
        }
    }

    .nav-item{
        li{
            a{
                color: black;
                margin: 10px;
            }

            a:hover{
                border-bottom: 3px solid #FFCC00;
            }
        }
    }
}

.welcome{
    padding-top: 75px;
    /* height: 1005px; */
    width: 1059px;
    margin: auto;
    /* display: flex; */
    text-align: center;

    img{
        width: 250px;
        padding-top: 61px;
    }

    h1{
        padding-top: 48px;
        font-size: 58px;
    }

    h3{
        padding-top: 37px;
        font-size: 30px;
    }

    h5{
        padding-top: 19px;
        font-size: 20px;
        font-weight: 100;
        width: 900px;
        margin: auto;
    }

    .select-button{
        margin-top: 60px;
        margin-bottom: 80px;

        button{
            width: 226px;
            height: 61px;
            border-radius: 7px;
            margin-left: 61px;
            margin-right: 61px;
            font-weight: bold;
            font-size: 16px;
        }

        .b1{
            background-color: #FFCC00;
        }

        .b2{
            background-color: #000000;
            color: white;
        }

        .b1:hover{
            background-color: #e7b900;
        }

        .b2:hover{
            background-color: #535353;
        }
    }
}

.about{
    h3{
        text-align: center;
    }
}

footer{
    background-color: #000000;
    color: white;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}